body {
    background-color: #ecf0f1;
    font-family: 'open_sansregular', sans-serif;
}

@font-face {
    font-family: 'open_sansregular';
    src: url('OpenSans-Regular-webfont.eot');
    src: url('OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-Regular-webfont.woff') format('woff'),
         url('OpenSans-Regular-webfont.ttf') format('truetype'),
         url('OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.game {
    padding-bottom: 50px;
    padding-top: 20px;
}
    body > div.container > div > div > div.col-lg-8 > form > table > tbody > tr > td > input[type="button"] {
        background-color: #657dcb;
        width: 75px;
        height: 75px;
        padding: 0 0 0 0;
    }

@media (max-width: 767px) {
 body > div.container > div > div > div.col-lg-8 > form > table > tbody > tr > td > input[type="button"] {
        width: 50px;
        height: 50px;
    }
}

@media (max-width: 480px) {
 body > div.container > div > div > div.col-lg-8 > form > table > tbody > tr > td > input[type="button"] {
        width: 30px;
        height: 30px;
    }
}
.quote > ul {
    font-size: 1.5em;
    list-style: none;
}

p{
    font-size: 1.5em;
}

.grey {
    background:#bdc3c7;
}

.quote img {
    float: left;
    border: 5px solid #657dcb;
    border-radius: 103px;
    margin-right: 5%;
    width: 200px;
    height: 200px;
}

@media (max-width: 767px) {
    .quote {
        text-align: center;
    }

    .quote img {
        float: none;
        margin: 0 auto 0 auto;
    }
}
.network-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

.banner {
    padding: 100px 0;
    color: #f8f8f8;
    background: url(Images/battleship.jpg) no-repeat center center;
    background-size: cover;
}

.fixed {
    	background-attachment: fixed;
}

.scrolling {
    min-height: 100%;
}
    .banner h2 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
        font-size: 3em;
    }

    .banner ul {
        margin-bottom: 0;
    }

.banner-social-buttons {
    float: right;
    margin-top: 0;
}

@media (max-width:1199px) {
    ul .banner-social-buttons {
        float: left;
        margin-top: 15px;
    }
}

@media (max-width:767px) {
    .banner h2 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
        font-size: 3em;
    }

    ul.banner-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

        ul.banner-social-buttons > li:last-child {
            margin-bottom: 0;
        }
}

footer {
    padding: 50px 0;
    background-color: rgb(40, 40, 40);
    text-align: center;
}

.footer-Text {
    color: white;
    font-size: 1.3em;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

