body {
    background-color: #ecf0f1;
    font-family: 'open_sansregular', sans-serif;
}

@font-face {
    font-family: 'open_sansregular';
    src: url('OpenSans-Regular-webfont.eot');
    src: url('OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-Regular-webfont.woff') format('woff'),
         url('OpenSans-Regular-webfont.ttf') format('truetype'),
         url('OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
#howto {
    display: none;
    background: #acacac;
    color: white;
    padding: 10px;
}

.mediumPic {
    max-width: 100px;
}
.game {
    padding-bottom: 50px;
    padding-top: 20px;
}
button {
        width: 50px;
        height: 50px;
        padding: 0 0 0 0;
    }

.finish {
    font-size: 4em;
}
.blue {
        background-color: #657dcb;
}

.red {
    background-color: #f00;
}

.purple {
    background-color: purple;
}

.orange {
    background-color: orange;
}

.green {
    background-color: green;
}

.black {
    background-color: black;
}

.grey {
    background-color: grey;
}

.ship-list {
    list-style: none;
    font-size: 1.4em;
    display: inline;
}

.dead {
    color: white;

}

.list {
}
@media (max-width: 480px) {
    .ship-list {
        width: 100%;
    }

button {
        width: 25px;
        height: 25px;
    }
}
.quote > ul {
    font-size: 1.5em;
    list-style: none;
}

p{
    font-size: 1.5em;
}

.algorithm-icon {
    max-width: 50%;
}

.quote img {
    float: left;
    border: 5px solid #657dcb;
    border-radius: 103px;
    margin-right: 5%;
    width: 200px;
    height: 200px;
}

@media (max-width: 767px) {
    .mediumPic {
        max-width: 50px;
    }
    .quote {
        text-align: center;
    }

    .quote img {
        float: none;
        margin: 0 auto 0 auto;
    }
}
.network-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

.banner {
    padding: 100px 0;
    color: #f8f8f8;
    background: url(Images/battleship2.jpg) no-repeat center center;
    background-size: cover;
}

.fixed {
    	background-attachment: fixed;
}

.scrolling {
    min-height: 100%;
}
    .banner h2 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
        font-size: 3em;
    }

    .banner ul {
        margin-bottom: 0;
    }

.banner-social-buttons {
    float: right;
    margin-top: 0;
}

@media (max-width:1199px) {
    ul .banner-social-buttons {
        float: left;
        margin-top: 15px;
    }
}

@media (max-width:767px) {
    .banner h2 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
        font-size: 3em;
    }

    ul.banner-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

        ul.banner-social-buttons > li:last-child {
            margin-bottom: 0;
        }
}

footer {
    padding: 50px 0;
    background-color: rgb(40, 40, 40);
    text-align: center;
}

.footer-Text {
    color: white;
    font-size: 1.3em;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

